.footer >a{
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #c8102e;
    display: block;
    padding-top: 8px ;
    padding-bottom: 8px ;
}
.footer_navbar{
    background-color: #666;
}
.footer_navbar >ul{
    display: flex;
    width: 65%;
    height: 55px;
    justify-content: space-around;
    flex-wrap: wrap ;
    margin: auto;
    align-items: center ;
}
.footer_navbar >ul>li{
    list-style-type: none;
}
.footer_navbar >ul >li >a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.footer_link{
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
.footer_link> ul{
    display: flex;
}
.footer_link> ul >li{
    list-style-type: none;
    border-right: 2px solid #666;
}
.footer_link> ul >li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #c8102e;
    font-size: 24px;
    padding: 0px 10px;
}
.footer_link> ul >li:last-child{
    border-right: none 
}
.footer_social ul{
    display: flex;
}
.footer_social ul li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.footer_social> ul >li> a> i{
    color: #c8102e;
    margin-right: 20px;
}
.footer_menu{
    display: flex;
    justify-content: space-around;
    background-color: #999999;
}
.footer_menu > li {
    list-style-type: none;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
.footer_menu > li >a{
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.footer_menu_list{
    padding-top: 20px;
}
.footer_menu_list li{
    list-style-type: none;
    margin-bottom: 10px;
}
.footer_menu_list >li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}
.footer_bottom{
    background-color: #333333;
}
.footer_bottom > ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
.footer_bottom > ul >li{
    list-style-type: none;
}
.footer_bottom > ul >li >a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.footer_bottom >p{
    margin-left: 5%;
    color: #fff;
    padding-bottom: 30px;
}
