.what_people_are_reading{
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #898989;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wpar_title{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #898989;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: -8px;
    padding:0 10px;
    text-decoration: none;
}
.what_people_are_reading div{
    padding-top: 30px;
}